<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title>Drachen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
      <ion-card-content>
    Ein Drachenviereck ist ein ebenes Viereck, bei dem eine Diagonale Symmetrieachse ist, oder das zwei Paare gleich langer benachbarter Seiten und besitzt. Oft wird nur die konvexe Form des Deltoids als Drachenviereck bezeichnet und die nicht-konvexe Form als Pfeilviereck oder Windvogelviereck. <br>
    A= e⋅f⁄2 <br>
    U= 2⋅(a+b) <br>
      </ion-card-content>
  </ion-card>
  <!--<ion-card>
    <ion-card-content>

  </ion-card-content>
  </ion-card>-->
    <!--
      ²
      √
      ⁄
      ⋅
      π
    -->
</ion-content>
