<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title>Trapez</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<ion-card>
    <ion-card-content>
        Ein Trapez ist in der Geometrie ein ebenes Viereck mit zwei parallel zueinander liegenden Seiten.<br>
        A= (a+c ⁄ 2) ⋅ h<br>
        H= A ⁄ m = 2A ⁄ a+c<br>
        U= a+b+c+d<br>

  </ion-card-content>
  </ion-card>
    <!--
      ²
      √
      ⁄
      ⋅
    -->
</ion-content>
