<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title>Kegel</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<ion-card>
    <ion-card-content>
        Ein Kegel oder Konus ist ein geometrischer Körper, der entsteht, wenn man alle Punkte eines in einer Ebene liegenden, begrenzten und zusammenhängenden Flächenstücks geradlinig mit einem Punkt außerhalb der Ebene verbindet. Ist das Flächenstück eine Kreisscheibe, wird der Körper Kreiskegel genannt<br>
        V= 1⁄3G ⋅ h <br>
        A= α⁄360 ⋅ π ⋅ m²<br>
        S= α⁄360 ⋅ π ⋅ m² + π ⋅ r² <br>
  </ion-card-content>
  </ion-card>
    <!--
      ²
      √
      ⁄
      ⋅
    -->
</ion-content>
