<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title>Zylinder</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-content>
      Ein Zylinder ist im einfachsten Fall eine Fläche, deren Punkte von einer festen Gerade, der Achse, denselben Abstand haben. Da solch eine Fläche unendlich ausgedehnt ist, beschneidet man sie normalerweise mit zwei parallelen Ebenen der Distanz.<br>
      V= πr² ⋅ h<br>
      M= 2πr ⋅ h<br>
      S= 2πr² ⋅ 2πrh<br>
  </ion-card-content>
  </ion-card>
    <!--
      ²
      √
      ⁄
      ⋅
      π
    -->
</ion-content>
