<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title>Tetraeder</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-content>
      Das Tetraeder, auch Vierflächner oder Vierflach, ist ein Körper mit vier dreieckigen Seitenflächen. Es ist das einzige konvexe Polyeder mit vier Flächen. Das Wort wird jedoch nur selten in dieser allgemeinen Bedeutung gebraucht.<br>
      V= (a³ ⋅ √2)⁄12 <br>          
      h= (a ⋅ √6)⁄3 <br>
      S= a² ⋅ √3 <br>
  </ion-card-content>
  </ion-card>
    <!--
      ²
      √
      ⁄
      ⋅
      π
    -->
</ion-content>
