<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title>Time</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-input [value]="Stunde"         type="number" placeholder="Stunde"       (ionChange)="StundeInput($event)" ></ion-input>
  <ion-input [value]="Minute"            type="number" placeholder="Minute"      (ionChange)="MinuteInput($event)" ></ion-input>
  <ion-input [value]="Sekunde"    type="number" placeholder="Sekunde"      (ionChange)="SekundeInput($event)" ></ion-input>
</ion-content>
