<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title>Rechteck</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<ion-card>
    <ion-card-content>
        In der Geometrie ist ein Rechteck (ein Orthogon) ein ebenes Viereck, dessen Innenwinkel alle rechte Winkel sind. Es ist ein Spezialfall des Parallelogramms (gleichwinkeliges Parallelogramm) und damit auch des Trapezes.<br>
        A= a⋅b<br>
        U= 2⋅a + 2⋅b = 2⋅(a+b)<br>
        D= √a²+b²<br>
  </ion-card-content>
  </ion-card>
</ion-content>
