<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title>Kugel</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-content>
        Eine Kugel ist in der Geometrie die Kurzbezeichnung für Kugelfläche oder Kugelkörper. <br>
        V= 4⁄3πr³<br>
        R= 3√(3V/4π)<br>
        S= 4π ⋅ r²<br>
  </ion-card-content>
</ion-card>
    <!--
      ²0.
      √
      ⁄
      ⋅
      π
    -->

</ion-content>
