<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title>Quadrat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
  <ion-card-content>
      In der Geometrie ist ein Quadrat (veraltet auch Geviert) ein spezielles Polygon, nämlich ein ebenes und konvexes Viereck mit vier gleichlangen Seiten, die jeweils paarweise zueinander angeordnet sind.<br>
      Umfang 	u = 4 ⋅ a <br>
      Diagonalenlänge 	d = a ⋅ √2 <br>
      Flächeninhalt 	A = a²<br>
      

  </ion-card-content>
</ion-card>

</ion-content>
