<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Formel Handbuch
    </ion-title>
  </ion-toolbar>
</ion-header>
 

<ion-content>
  <h1 class="2D">2D Figuren </h1>
  <ion-button color="light" expand="full" ion-button round (click)="goToQuadratPage()"> Quadrat </ion-button>
  <ion-button color="light" expand="full" ion-button round (click)="goTolRechteckPage()"> Rechteck </ion-button>
  <ion-button color="light" expand="full" ion-button round (click)="goToDreieckPage()"> Dreieck </ion-button>
  <ion-button color="light" expand="full" ion-button round (click)="goToRhombusPage()"> Rhombus </ion-button>
  <ion-button color="light" expand="full" ion-button round (click)="goToParallelogrammPage()"> Parallelogramm </ion-button>
  <ion-button color="light" expand="full" ion-button round (click)="goToTrapezPage()"> Trapez </ion-button>
  <ion-button color="light" expand="full" ion-button round (click)="goToDrachenPage()"> Drachen </ion-button>
  <ion-button color="light" expand="full" ion-button round (click)="goToKreisPage()"> Kreis </ion-button>
  <h1 class="3D">3D Figuren </h1>
  <ion-button color="light" expand="full" ion-button round (click)="goToKegelPage()"> Kegel </ion-button>
  <ion-button color="light" expand="full" ion-button round (click)="goToQuaderPage()"> Quader </ion-button>
  <ion-button color="light" expand="full" ion-button round (click)="goToPrismarPage()"> Prisma </ion-button>
  <ion-button color="light" expand="full" ion-button round (click)="goToZylinderPage()"> Zylinder </ion-button>
  <ion-button color="light" expand="full" ion-button round (click)="goToPyramidePage()"> Pyramide </ion-button>
  <ion-button color="light" expand="full" ion-button round (click)="goToTetraederPage()"> Tetraeder </ion-button>
  <ion-button color="light" expand="full" ion-button round (click)="goToOktaederPage()"> Oktaeder </ion-button>
  <ion-button color="light" expand="full" ion-button round (click)="goToKugelPage()"> Kugel</ion-button>
</ion-content>
