<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title>Quader</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-card>
    <ion-card-content>
      Ein Quader ist ein Körper, der von sechs Rechtecken begrenzt wird. Ein Quader besitzt sechs Seitenflächen, die im rechten Winkel aufeinander stehen, acht rechtwinkelige Ecken und zwölf Kanten, von denen jeweils vier gleiche Längen besitzen und zueinander parallel sind.<br>
      V= l ⋅ b ⋅ h<br>
      A= 2lb + 2lh + 2bh = 2⋅(a⋅b+a⋅h+b⋅h)<br>
      d= √a²+b²+h² <br>
  </ion-card-content>
  </ion-card>
    <!--
      ²
      √
      ⁄
      ⋅
      π
    -->
</ion-content>
