<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title>Rhombus</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<ion-card>
    <ion-card-content>
        Eine Raute oder ein Rhombus ist ein ebenes Viereck mit vier gleich langen Seiten. Gegenüberliegende Seiten sind parallel und gegenüberliegende Winkel gleich groß. <br>
        A= a ⋅ h<br>
        U= 4a<br>

  </ion-card-content>
</ion-card>
    <!--
      ²
      √
      ⁄
      ⋅
    -->
</ion-content>
