<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-button color="light" expand="full" ion-button round (click)="goTolengthPage()">Länge </ion-button>
    <ion-button color="light" expand="full" ion-button round (click)="goTomassPage()"> Masse </ion-button>
    <ion-button color="light" expand="full" ion-button round (click)="goTotimePage()"> Zeit </ion-button>
    <ion-button color="light" expand="full" ion-button round (click)="goToenergiePage()"> Energie </ion-button>
    <button class= "easteregg"color="light" expand="full" ion-button round (click)="goToeasterPage()"> easteregg </button>
</ion-content>
