<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title>Kreis</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<ion-card>
    <ion-card-content>
        Ein Kreis ist eine ebene geometrische Figur. Er wird definiert als die Menge aller Punkte einer Ebene, die einen konstanten Abstand zu einem vorgegebenen Punkt dieser Ebene haben. Der Abstand der Kreispunkte zum Mittelpunkt ist der Radius oder Halbmesser des Kreises, er ist eine positive reelle Zahl.<br>
        A= π ⋅ d²/4 = π ⋅ r²<br>
        D= π ⋅ d = 2 ⋅ π ⋅ r <br>
        U= 2 ⋅ r<br>
  </ion-card-content>
  </ion-card>
    <!--
      ²
      √
      ⁄
      ⋅
    -->
</ion-content>
