<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title>Parallelogramm</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<ion-card>
    <ion-card-content>
        Ein Parallelogramm oder Rhomboid ist ein konvexes ebenes Viereck, bei dem gegenüberliegende Seiten parallel sind. Parallelogramme sind spezielle Trapeze und zweidimensionale Parallelepipede. Rechteck, Raute und Quadrat sind Spezialfälle des Parallelogramms.<br>
        A= a ⋅ h <br>
        H= A ⁄ a <br>
        U = 2a + 2b <br>

  </ion-card-content>
  </ion-card>
    <!--
      ²
      √
      ⁄
      ⋅
    -->
</ion-content>
