<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title>Oktaeder</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<ion-card>
    <ion-card-content>
      Das Oktaeder ist einer der fünf platonischen Körper, genauer ein regelmäßiges Polyeder mit acht gleichseitigen Dreiecken als Flächen zwölf Kanten und sechs Ecken, in denen jeweils vier Flächen zusammentreffen Das Oktaeder ist sowohl eine gleichseitige vierseitige Doppelpyramide als auch ein gleichseitiges Antiprisma.<br>
      V= (a³ ⋅ √2)⁄3<br>
      h= 1⁄2 ⋅ √2 ⋅a<br>
      S= 2a² ⋅ √3<br>
  </ion-card-content>
  </ion-card>
    <!--
      ²
      √
      ⁄
      ⋅
      π
    -->
</ion-content>
