<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title>Dreieck</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<ion-card>
    <ion-card-content>
        Beschreibung
        Ein Dreieck ist ein Polygon und eine geometrische Figur. Es handelt sich innerhalb der euklidischen Geometrie um die einfachste Figur in der Ebene, die von geraden Linien begrenzt wird. Seine Begrenzungslinien bezeichnet man als Seiten. In seinem Inneren spannen sich drei Winkel, die sogenannten Innenwinkel auf. <br>
        A= a²⁄4 ⋅ √3<br>
        H= a⁄2⋅ √3 = r + r <br>
        U= 3a <br>
      <!--
        ²
        √
        ⁄
        ⋅
      -->
  </ion-card-content>
  </ion-card>
</ion-content>
