
body {
  background:#333;
}

#background {
    background:white;   
}

button {
    border:0;
    color:#fff;
}

#result {
    display:block;
    font-family: sans-serif;
    text-align: right;
    background:#3b3535;
    color:#fff;
    outline: none;
    overflow: hidden;
   
}

#result:hover {
    
    cursor: text;
    
}

#first-rows {
    margin-bottom: 20px;
    position: relative;
    top:10px;
}

.rows {
    width:300px;
    margin-top:10px;
}



.fall-back {
    margin-left:3px !important;
}


.align {
    margin-left: 6px !important;
}

.btn-styleoperator {
    width:55px;
    height:55px;
    margin-left:5px;
    border-radius:4px;
}
.btn-style {
    margin-left:5px;
    border-radius:4px;
}

.eqn {
    width:50px;
    height:50px;
    margin-left:5px;
    border-radius:4px;
}

.first-child {
 margin-left:25px;
}


.num-bg {
    background:#000;
    color:#fff;
    cursor:pointer;
   
}

 .num-bg {
    background:#000;
    color:#fff;
    width:55px;
    height:55px;
    cursor:pointer;
   
}


.opera-bg {
    background:#333;
    color:#fff;
    font-size:26px;
    cursor: pointer;
   
}



.del-bg {
  background:#000;
  color:#fff;
  font-size:26px;

  
}




#eqn-bg {
  background:#333;
    color:#fff;
    font-size:26px;
    cursor: pointer;
  
}



