.body{ 
    padding: no;
}

#result {
    width:  100%;
    height: 133.4px;
    background-color: rgb(120, 120, 120);
    color: white ;
    font-size: 100px;
}
.del-bg{
    width: 100%;
    height: 66.7px;
    background-color: black;
    color: white;
    font-size: 66.7;
}
.btn-style {
    width: 93.75px;
    height: 100.05px;
    background-color: black;
    color: white;
    font-size: 100.05px;

}
.btn-styleoperator{
    width: 93.75px;
    height: 100.5px;
    background-color: black;
    color: white;
    font-size: 100.5px;
    

}
.num-bgzero{
    width: 93.75px;
    height: 100.05px;
    background-color: black;
    color: white;
    font-size: 100.05px;
}