<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title>Prisma</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-content>
      Ein Prisma ist ein geometrischer Körper, der durch Parallelverschiebung eines ebenen Vielecks entlang einer nicht in dieser Ebene liegenden Geraden im Raum entsteht. Ein Prisma ist damit ein spezielles Polyeder. Das gegebene Vieleck wird als Grundfläche bezeichnet, die gegenüberliegende Seite als Deckfläche.<BR>
        V= G ⋅ h<br>
        M= U ⋅ h<br>
        S= 2 ⋅ G + M<br>
  </ion-card-content>
  </ion-card>
    <!--
      ²
      √
      ⁄
      ⋅
      π
    -->
</ion-content>
